<html xmlns:th="https://www.thymeleaf.org">
<body>

<!--<div th:if="${message}">-->
<!--    <h2 th:text="${message}"/>-->
<!--</div>-->

<div>
    <form action="/files/upload " enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <td>File to upload:</td>
            </tr>
            <tr>
                <td><input name="file" type="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<div th:if="${files!=null}">
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file.getURIAdress()}" th:text="${file.getPhysicalAdress()}"></a>
        </li>
    </ul>
</div>

</body>
</html>